body{
  background-color: #203135;
  /* #E3D5BE; */
  padding-left:1rem ;
  padding-right:1rem;
  color: teal;
}
h1{
  color: #fff;
}
.ct-chart {
  margin-bottom:1rem;
  width: 500px;
  fill: #7B9A59;
  /* #835951 */
  height: 300px;
  align-self: flex-end;
  border-radius: 1em;
  padding: 15px 15px 0;
  background-color: #1B2A46;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.ct-chart .ct-series.ct-series-b .ct-area { fill: #f05b4f; }

.ct-grid-background, .ct-line {
    fill: none;
}

.ct-golden-section {
  display:block;
  position:relative;
  width:100%;
}

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #4EAE42;
  /* Control the thikness of your lines */
  stroke-width: 5px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a > .ct-point {
  /* Colour of your points */
  stroke: red;
  /* Size of your points */
  stroke-width: 20px;
  /* Make your points appear as squares */
 stroke-linecap: round;
}
.ct-line > .ct-point
{
 stroke:blue;
 stroke-width:10px;
 stroke-linecap:round;

}

.ct-series-c > .ct-line
{
 stroke:#387C44;
 stroke-width:4px;
}

 .ct-series-b > .ct-point
 {
 stroke:blue;
 stroke-width:10px;
 stroke-linecap:round;
}

.the-chart{
margin-left: 0px;

}
.ct-chart .ct-grid.ct-horizontal,
.ct-chart .ct-grid.ct-vertical {
  shape-rendering: crispEdges;
  stroke-width: 1px;
  stroke-dasharray: 1px 4px;
  stroke: rgba(0, 0, 0, 0.2);
}
.the-button {

}
